.content-pro{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #06021b;
    min-height: 100vh;
    height: auto;
    padding: 5rem 0;

}

.title-pro{
    color: beige;
    font-size: 4rem;
    margin:2.4rem 0;
}


.navigation{
    position: relative;
    width: 400px;
    height: 70px;
    background: linear-gradient(45deg, #2196f3, #e91e63);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.navigation ul{
    display: flex;
    width: 350px;
}

.navigation ul li{
    position: relative;
    width: 80px;
    height: 80px;
    list-style: none;
    z-index: 1;
}

.navigation ul li button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-weight: 600;
    text-decoration: none;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.navigation ul li button .icon {
    position: relative;
    display: block;
    line-height: 85px;
    font-size: 2.3rem;
    text-align: center;
    color: white;
    transition: .5s;
}

.navigation ul li.active button .icon {
    transform: translateY(-32px);
}

.navigation ul li button .text {
    position: absolute;
    color: white;
    font-weight: 600;
    font-size: 1rem;
    letter-spacing: .05em;
    transform: translateY(20px);
    opacity: 0;
    transition: .9s;
}

.navigation ul li.active button .text {
    opacity: 1;
    transform: translateY(10px);
}

.navigation ul li button .circle {
    position: absolute;
    display: block;
    width: 55px;
    height: 55px;
    background: transparent;
    border-radius: 50%;
    border: 1.8px solid white;
    transform: translateY(-37px) scale(0);
}


.navigation ul li.active button .circle {
    transform: translateY(-37px) scale(1);
    transition: .5s;
    transition-delay: .2s;
}

.indicator{
    position: absolute;
    top: -50%;
    width: 70px;
    height: 70px;
    background:linear-gradient(45deg, #2196f3, #e91e63) ;
    border: 6px solid #06021b;
    border-radius: 50%;
    transition: .5s;
}

.indicator::before{
    content: '';
    position: absolute;
    top: 50%;
    left: -22px;
    width: 20px;
    height: 20px;
    background: transparent;
    border-top-right-radius:20px ;
    box-shadow: 1px -10px 0 #06021b;
}

.indicator::after{
    content: '';
    position: absolute;
    top: 50%;
    right: -22px;
    width: 20px;
    height: 20px;
    background: transparent;
    border-top-left-radius:20px ;
    box-shadow: -1px -10px 0 #06021b;
}

.navigation ul li:nth-child(1).active~.indicator{
    transform: translateX(calc(70px * 0));
}

.navigation ul li:nth-child(2).active~.indicator{
    transform: translateX(calc(70px * 1));
}

.navigation ul li:nth-child(3).active~.indicator{
    transform: translateX(calc(70px * 2));
}

.navigation ul li:nth-child(4).active~.indicator{
    transform: translateX(calc(70px * 3));
}

.navigation ul li:nth-child(5).active~.indicator{
    transform: translateX(calc(70px * 4));
}


.content-pro .card-projetos{
    width: 90%;
    /* background:rgba(255, 255, 255, 0.483); */
    margin-top: 1rem;
}

.content-pro .hidden {
    
    display: grid;
    justify-content: space-around;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    flex-direction: row;
    padding: 3rem;
    
   
  }

  .card-pro{
    background: #e91e63;
    margin: 10px;
    display: flex;
    max-width: 100px;
    height: 100px;

  }


/* Container para os projetos */
#card-projetos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
   
    gap: 2rem;
    justify-content: center;
    padding: 1rem;
    height: auto;
}

/* Estilo para cada caixa de projeto */
.box {
    background-color: #1e1e1e;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    position: relative;
    width: 500px;
    height: 350px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.box:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
}

.cover {
    position: relative;
    height: 100%;
}

.cover img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.details {
    position: absolute;
    top: -90%;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: #f9f9f9;
    padding: 1rem;
    box-sizing: border-box;
    transform: translateY(100%);
    transition: transform 0.3s ease;
}

.box:hover .details {
    transform: translateY(0);
}

.details p {
    font-size: 1.8rem;
    font-weight: 600;
    margin: 0;
    margin-bottom: 0.5rem;
    text-align: left;
}

.mini-languages {
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
    padding: 0 1.5rem 0 0;
}

.mini-languages .lang{
    display: flex;
    gap: .5rem;
}

.mini-languages .lang img {
    width: 24px;
    height: 24px;
    display: block;
}

.mini-languages span{
    font-weight: bold;
}

.description {
    background-color: #2a2a2a;
    padding: .62rem;
    border-radius: 0 0 1rem 1rem;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    transform: translateY(100%);
    transition: transform 0.3s ease;
}

.box:hover .description {
    transform: translateY(0);
}

.description p {
    font-family: 'DM Sans', sans-serif;
    font-size: 1.4rem;
    color: #f9f9f9;
    margin: 0;
    margin-bottom: 0.5rem;
}

.description a {
    display: inline-block;
    color: #8257E6;
    font-size: 1.2rem;
    font-weight: 500;
    text-decoration: none;
    border: 1px solid #8257E6;
    border-radius: 2rem;
    padding: 0.5rem 3rem;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.description a:hover {
    background-color: #8257E6;
    color: #f9f9f9;
}

#modalInfoProjetos {
    width: 100%;
    max-width: 75%;
    min-width: 40%;
    background: #13131F;
    position: fixed; /* Para fixar o modal no centro da tela */
    z-index: 1001; /* Superior ao overlay */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 8px;
    display: none; /* Escondido inicialmente */
}

/* Overlay escurecido */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7); /* Escurecer a tela */
    z-index: 1000; /* Logo abaixo do modal */
    display: none; /* Escondido inicialmente */
}

/* Quando o modal está aberto */
.show-modal {
    display: block !important;
}

#modalInfoProjetos .header-modal{
        width: 100%;
        display: flex;
        justify-content: end;
        align-items: center;
        padding: .5rem 2rem 0 0;
    }

    .header-modal svg {
        width: 30px;
        cursor: pointer;
        fill: #fff; 
        transition: fill 0.3s ease; 
    }
    
    .header-modal svg:hover {
        fill: #8257E6; 
    }
    .header-modal img {
        width: 30px;
        cursor: pointer;
        filter: invert(0); 
        transition: filter 0.3s ease;
    }
    
    .header-modal img:hover {
        filter: invert(1);
    }
   
  /* .hidden-modal{
    display: none;
  } */

  .container-modal{
    padding-left: 1rem;
  }

  .container-modal .title{
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
    
  }

  .content-modal{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
  }

  .content-modal .info{
    padding-right: 1.5rem;
   
  }

  .content-modal .info span{
    font-size: 1.5rem;
    padding-bottom: .3rem;
    border-bottom: 1px solid #fff;
   
  }

  .content-modal .info p{
    font-size: 14px;
    margin-top: 1rem;
    line-height: 1.5em"
  }

  .container-modal .links{
    display: flex;
    width: auto;
    justify-content: start;
    gap: 2rem;
    align-items: center;
    padding: 1rem .3rem;
  }
  .container-modal .links a{
    text-decoration: none;
    width: 180px;
    /* background: #8257E6; */
    color: #fff;
    font-size: 14px;
    text-align: center;
    padding: .6rem 0;
    border-radius: 15px;
    border: 2px solid #8257E6;
    transition: .3s ease-in-out;
  }

  .container-modal .links a:hover{
    background: #8257E6;
  }

  /* key frames */
@keyframes slideRight{
    0%{
        transform: translateX(-100px);
        opacity: 0;
    }

    100%{
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideTop{
    0%{
        transform: translateY(100px);
        opacity: 0;
    }

    100%{
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideBottom{
    0%{
        transform: translateY(-100px);
        opacity: 0;
    }

    100%{
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideLeft{
    0%{
        transform: translateX(100px);
        opacity: 0;
    }

    100%{
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes zoomIn{
    0%{
        transform: scale(0);
        opacity: 0;
    }

    100%{
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes floatImage{
   0%{
    transform: translateY(0);

   }
   50%{
    transform: translateY(-24px);
   }
   100%{
    transform: translateY(0);

   }
}
  